<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Footer -->
    <footer th:fragment="content" class="footer">
        <div class="container">
            <nav class="float-left">
                <ul>

                    <li>
                        <a href="/">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="/privacy-policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="/terms-and-conditions">
                            Terms & Conditions
                        </a>
                    </li>

                </ul>
            </nav>
            <div class="copyright float-right">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, made with <i class="material-icons">favorite</i> by
                <a href="https://youtu.be/uk3uG1XBh0s" target="_blank"><strong>classplanner</strong></a> for Teachers and Students
            </div>
        </div>
    </footer>
    <!-- End of Footer -->


</body>

</html>
