<!--
=========================================================
Material Kit - v2.0.7
=========================================================

Product Page: https://www.creative-tim.com/product/material-kit
Copyright 2020 Creative Tim (https://www.creative-tim.com/)

Coded by Creative Tim

=========================================================

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Privacy Policy
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-kit.css?v=2.0.7" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <!-- PureCookie -->
    <link rel="stylesheet" type="text/css" href="../assets/css/purecookie.css" async />

    <!--            -->
</head>

<body class="landing-page sidebar-collapse">
<div th:insert="~{navbar-login-reg.html:: navbar-login-reg}"/>
<div class="content">

    <div class="header">

        <h1 class="page-title">Privacy Policy</h1>
    </div>

    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active">Privacy Policy</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">

            <h2>Privacy Policy</h2>
            <p>This Privacy Policy is an overview of how we collect, use, and process your personal data when you use our website www.classplanner.co.uk (hereinafter: “Website”).</p>
            <p>Please read this Policy carefully, as it becomes legally binding when you use our Services. We take privacy and protection of your data very seriously and are committed to handling the personal information of those we engage with, whether customers, suppliers or colleagues responsibly and in a way that meets the legal requirements of the countries in which we operate.</p>

            <h2>Your Rights</h2>
            <p>You can request that we correct, erase, or grant you access to the personal data we hold relating to you, or (where processing is based on your consent) withdraw your consent to our processing of your personal data.</p>
            <p>If you are concerned that we are handling your personal data improperly, you also have the right to make a complaint to our data protection regulator, the UK Information Commissioner’s Office.</p>

            <h2>Information Collection & Use</h2>
           <p>The information we collect, and the ways in which we use it, varies in line with the use cases below:</p>
            <li>
                Visitors to www.classplanner.co.uk
            </li>
            <li>
                Business contacts
            </li>

            <h2>Data We Collect About You</h2>
                <h3>Information you give us</h3>
            You may give us information about you when you sign up to use our service, e.g. when you provide us with personal details like your name and email address. This also includes information you provide through your continued use of our Services, your participation in discussion boards or other social media functions on our Website or App, through entering a competition, promotion or survey, and by reporting problems with our Services. The information you give us may include your name, address, email address, phone number

            <h2>Information We Collect About Youe</h2>
            <p>With regard to your use of our Services, we may automatically collect the following information:
                details of the transactions you carry out when using our Services, including geographic location from which the transaction originates;</p>
            <p>technical information, including the Internet protocol (IP) address used to connect your computer to the internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform;
                information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our Website or App (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer support number.</p>

            <h2>Information From Social Media Networks</h2>
            <p>If you log in to our Services using your social media account (for example, Facebook or Google) we will receive relevant information that is necessary to enable our Services and authenticate you. The social media network will provide us with access to certain information that you have provided to them, including your name, profile image and email address. We use such information, together with any other information you directly provide to us when registering or using our Services, to create your account and to communicate with you about the information, products and services that you request from us. You may also be able to specifically request that we have access to the contacts in your social media account so that you can send a referral link to your family and friends. We will use, disclose and store all of this information in accordance with this privacy policy.</p>

            <h2>Data Retention - How long we hold the data</h2>
            <h3>Email newsletters</h3>
            <p>We’ll keep your details on this list until you unsubscribe, at which point we’ll move your details to an opted-out list to ensure that we don’t send you marketing emails from other sources in future.</p>


            <h3>General</h3>
            <p>We retain historic information relating to any consent you provided, or other bases for processing that have since lapsed, for six years from the date that the basis for processing lapsed.</p>

            <h2>Ways We Use Your Information</h2>
            <h3>We use your information:</h3>
           <li>to carry out our obligations relating to your contract with us and to provide you with the information, products and services;
           </li>
            <li>
                to comply with any applicable legal and/or regulatory requirements;
            </li>
            <li>to notify you about changes to our Services;
            </li>
            <li>
                as part of our efforts to keep our Services safe and secure;
            </li>
            <li>to administer our Services and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
            <li>
                to improve our Services and to ensure that they are presented in the most effective manner;
            </li>
            <li>
                to measure or understand the effectiveness of advertising we serve and to deliver relevant advertising to you;
            </li>
            <li>
                 to allow you to participate in interactive features of our Services, when you choose to do so;
            </li>
            <li>to provide you with information about other similar goods and services we offer;</li>
            <li>
                to combine information, we receive from other sources with the information you give to us and information we collect about you. We may use this information and the combined information for the purposes set out above (depending on the types of information we receive).
            </li>
             <h2>Legal Basis For Processing in Europe</h2>
            <ul>The lawful basis we use for collecting and processing your information in Europe (as required by current legislation) are as follows:
                <li>Where it is necessary for entering into or performing a contract with you;</li>
                <li>Where we have a legitimate interest to do so, provided your rights do not override those interests;</li>
                <li>Where you have consented to its uses;</li>
                <li>Where our colleagues believe it is in your vital interests to share your personal details;</li>
                <li>Where required to comply with our legal obligations.</li>
            </ul>
            <h2>Sharing And Storing Your Personal Data</h2>
            <p>We may transfer and store your data at a destination outside the European Economic Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the fulfilment of your payment order, the processing of your payment details and the provision of support services. By submitting your personal data, you agree to this transfer, storing and processing. We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy.
                In order to provide our Services to you, it is sometimes necessary for us to transfer your data to the third parties that are based outside of the European Economic Area. In these cases, we ensure that both ourselves and our partners take adequate and appropriate technical, physical and organisational security measures to protect your data. We also ensure we have appropriate contractual protections (e.g. BCR, Standard Contractual Clauses or Privacy Shield) in place with these parties receiving the data outside the EEA.</p>
            <h2>Your rights</h2>
            <ul>
                Subject to applicable laws, you may have the right to access information we hold about you. Your right of access can be exercised in accordance with the relevant data protection legislation. If you have any questions in relation to our use of your personal information, contact us. Under certain conditions, you may have the right to require us to:
                <li> provide you with further details on the use we make of your information;</li>
                <li> provide you with a copy of the information that you have provided to us;</li>
                <li>update any inaccurate, incorrect, or out of date personal information we hold;</li>
                <li>delete any personal information that is no longer necessary. ClassPlanner has legal obligations so it may not be possible to delete your data at the time of request. Once the required time has passed then we will be able to comply with your request;</li>
                <li>where processing is based on consent, to withdraw your consent so that we stop that particular processing;</li>
                <li>cease direct marketing to you, by contacting us or adjusting your notification preferences in the settings section of your account;</li>
                <li> object to any processing based on the legitimate interests ground unless our reasons for undertaking that processing outweigh any prejudice to your data protection rights</li>
                <li>restrict how we use your information whilst a complaint is being investigated</li>
            </ul>
            <ul>* Your exercise of these rights is subject to certain exemptions to safeguard the public interest (e.g. the prevention or detection of crime) and our interests (e.g. the maintenance of legal privilege). If you exercise any of these rights, we will check your entitlement and respond in most cases within a month.</ul>

            <h2 id="cookie">Cookies</h2>
            <p>The Website uses the following cookies for the purposes described herein:</p>
            <li>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of each of our websites, to use a shopping cart or to use our services.</li>                   
             <li>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way in which our website work, for example, by ensuring that users are finding what they are looking for easily. </li>                    
            <li>Functionality cookies. These are used to recognise you when you return to any of our websites. This enables us to personalise our content for you, greet you by name and remember your preferences (for example, your choice of language or region).</li>              
            <li>Targeting cookies. These cookies record your visit to each of our websites, the pages you have visited and the links you have followed. We will use this information to make our website more relevant to your interests.</li>             
             <li>If you wish to opt-out of our placing cookies onto your computer or device, please adjust your internet browsers settings to restrict cookies as detailed in your internet browsers help menu. You may also wish to delete cookies which have already been placed. For instructions on how to do this, please consult your internet browser’s help menu.</li>

            <h2>Disclaimers</h2>
        <p>We make no warranty or representation that the Website will meet your requirements, that it will be of satisfactory quality, that it will be fit for a particular purpose, that it will not infringe the rights of third parties, that it will be compatible with all systems, that it will be secure and that all information provided will be accurate. We make no guarantee of any specific results from the use of Our services.</p>
            <p>No part of this Website is intended to constitute advice and the Content of this Website should not be relied upon when making any decisions or taking any action of any kind.</p>
            <p>No part of this Website is intended to constitute a contractual offer capable of acceptance.</p>
            <p>Whilst We use all reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, you are strongly advised to take responsibility for your own internet security, that of your personal details and your computers.</p>
            <h2>Limitation of Liability</h2>
            <p>To the maximum extent permitted by law, we accept no liability for any direct or indirect loss or damage, foreseeable or otherwise, including any indirect, consequential, special or exemplary damages arising from the use of the Website or any information contained therein. You should be aware that you use the Website and its Content at your own risk.</p>
            <p>Nothing in these Terms and Conditions excludes or restricts our liability for death or personal injury resulting from any negligence or fraud on the part of us.</p>
            <p>Nothing in these Terms and Conditions excludes or restricts our liability for any direct or indirect loss or damage arising out of the incorrect delivery of Goods or out of reliance on incorrect information included on the Website.</p>
            <p>In the event that any of these terms are found to be unlawful, invalid or otherwise unenforceable, that term is to be deemed severed from these Terms and Conditions and shall not affect the validity and enforceability of the remaining Terms and Conditions. This term shall apply only within jurisdictions where a particular term is illegal.</p>
            <h2>Law And Jurisdiction</h2>
            <p>These Terms and Conditions and the relationship between you and us shall be governed by and construed in accordance with the Laws of the England and Wales and both we and you agree to submit to the exclusive jurisdiction of the Courts of the England and Wales.</p>


            <div th:insert="~{footer :: content}" style="color:darkblue" />

<!--   Core JS Files   -->
<script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="../assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/purecookie.js" async></script>
<!--  Google Maps Plugin    -->
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<!--<script src="../assets/js/material-kit.js?v=2.0.7" type="text/javascript"></script>-->
</body>

</html>